@import "tailwindcss";

@source '../../vendor/laravel/framework/src/Illuminate/Pagination/resources/views/*.blade.php';
@source '../../storage/framework/views/*.php';
@source '../**/*.blade.php';
@source '../**/*.js';


@font-face {
    font-family: Fustat;
    src: url('/font/Fustat[wght].ttf');
    font-weight: 400; /* Regular */
    font-style: normal;
    font-display: swap;
}

@theme {
    /* MENGGANTI FONT DEFAULT (Menggantikan var(--font-main)) */
    --font-sans: "Plus Jakarta Sans", ui-sans-serif, system-ui, sans-serif,
        "Apple Color Emoji", "Segoe UI Emoji", "Segoe UI Symbol",
        "Noto Color Emoji";
    
    --font-secondary: "Fustat", sans-serif;

    /* MENGGANTI WARNA DEFAULT (Menggantikan :root) */
    --color-primary: #ee0d0d;
    --color-background: #fef3e2;
    --color-text-dark: #31311e;
    --color-text-secondary: #cbcbcb;
    --color-light-bg: #f5f5f0;
    --color-discount: #31311e;

    
    --color-kencana-cream: var(--color-background);
    --color-dark-grey: var(--color-text-dark);
    --color-light-grey: var(--color-text-secondary);

    /* Mendefinisikan warna hover kustom (Menggantikan .hover\:bg-primary-dark) */
    --color-primary-dark: #d60b0b;
}


@layer utilities {
    /* Utilitas untuk menyembunyikan scrollbar */
    .scrollbar-hide {
        -ms-overflow-style: none; /* IE and Edge */
        scrollbar-width: none; /* Firefox */
    }

    .scrollbar-hide::-webkit-scrollbar {
        display: none; /* Chrome, Safari and Opera */
    }
}

/* Font Umum */
body {
    font-family: var(--font-main);
    /* background-color: var(--color-background); */

    /* background-color: #F3E7E7; */

    color: var(--color-text-dark);
}

.category-link-container {
    padding-left: 0.75rem;
    /* px-3 */
    padding-right: 0.75rem;
    /* px-3 */
}

.category-link-container:first-child {
    padding-left: 0;
}
